################################################################################
#  OASIS: architecture for building OCaml libraries and applications           #
#                                                                              #
#  Copyright (C) 2011-2013, Sylvain Le Gall                                    #
#  Copyright (C) 2008-2011, OCamlCore SARL                                     #
#                                                                              #
#  This library is free software; you can redistribute it and/or modify it     #
#  under the terms of the GNU Lesser General Public License as published by    #
#  the Free Software Foundation; either version 2.1 of the License, or (at     #
#  your option) any later version, with the OCaml static compilation           #
#  exception.                                                                  #
#                                                                              #
#  This library is distributed in the hope that it will be useful, but         #
#  WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY  #
#  or FITNESS FOR A PARTICULAR PURPOSE. See the file COPYING for more          #
#  details.                                                                    #
#                                                                              #
#  You should have received a copy of the GNU Lesser General Public License    #
#  along with this library; if not, write to the Free Software Foundation,     #
#  Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA               #
################################################################################

| ".*\\.txt"             -> no
| ".*\\.txt.fst"         -> no
| ".*\\.txt.snd"         -> no
| ".*\\.txt-exp"         -> no
| ".*\\.md.exp"          -> no
| ".*\\.html"            -> no
| ".*\\.patch"           -> no
| ".*\\.mkd"             -> no
| ".*\\.mod"             -> no
| ".*\\.mlify"           -> no
| "configure"            -> no
| ".*\\.sh"              -> skip match:"#!.*"
| ".*\\.sh"              -> frame open:"#" line:"#" close:"#"
| ".*\\.ml\\.ab"         -> frame open:"(*" line:"*" close:"*)" margin:" "
| ".*\\.ml"              -> skip match:"#!.*"
| ".*\\.mli?"            -> skip match:"(\\*pp .* \\*)"
| ".*\\.mli?"            -> frame open:"(*" line:"*" close:"*)" margin:" "
| ".*\\.ml.exp"          -> skip match:"#!.*"
| ".*\\.mli?.exp"        -> skip match:"(\\*pp .* \\*)"
| ".*\\.mli?.exp"        -> frame open:"(*" line:"*" close:"*)" margin:" "
| "_headache\\.config"   -> frame open:"#" line:"#" close:"#"
| "_announce"            -> no
| "_header"              -> no
| ".*\\.swp"             -> no
| ".*\\.po"              -> no
| ".*\\.po.bak"          -> no
| ".*\\.mo"              -> no
| "META"                 -> frame open:"#" line:"#" close:"#"
| "POTFILES"             -> no
| "LINGUAS"              -> no
| ".*\\.pot"             -> no
| ".*\\.png"             -> no
| ".*\\.mllib"           -> frame open:"#" line:"#" close:"#"
| ".*\\.mldylib"         -> frame open:"#" line:"#" close:"#"
| ".*\\.itarget"         -> frame open:"#" line:"#" close:"#"
| ".*\\.itarget.in"      -> frame open:"#" line:"#" close:"#"
| ".*\\.odocl"           -> frame open:"#" line:"#" close:"#"
| "_tags"                -> frame open:"#" line:"#" close:"#"
| "_tags_manual"         -> frame open:"#" line:"#" close:"#"
| "installbuilder-license.xml" -> no
| ".*\\.oasis"           -> no
| "_oasis.*"             -> no
| "myconfigure"          -> skip match:"#!.*"
| "myconfigure"          -> frame open:"#" line:"#" close:"#"
| "myconfigure.bat"      -> frame open:"rem" line:"=" close:"#"
| "\\.boring"            -> no
| ".*\\.pdf"             -> no
| ".*\\.expect"          -> frame open:"#" line:"#" close:"#"
| "setup\\.log"          -> no
| "setup\\.data"         -> no
| ".*\\.data"            -> no
| ".*\\.bat"             -> frame open:"rem" line:"#" close:"#"
| "oasis\\.xml"          -> no
| "oasis"                -> frame open:"#" line:"#" close:"#"
| "foo\.bar"             -> no
| ".*\\.tar\\.gz"        -> no
| ".*\\.tar\\.gz\\.asc"  -> no
| "\\.gitignore"         -> no
| ".*\\.lua"             -> no
| ".*\\.awk"             -> no
| ".*\\.md"              -> no
| "ounit.conf"           -> no
| ".*src/tools/oasis"    -> skip match:"#!.*"
